<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Music_System</display-name>
  <welcome-file-list>
    <welcome-file>/Pages/First_page.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WelcomeServletController</display-name>
    <servlet-name>WelcomeServletController</servlet-name>
    <servlet-class>com.MusicSystem.Welcome.WelcomeServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServletController</servlet-name>
    <url-pattern>/WelcomeServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeSampleServlet</display-name>
    <servlet-name>WelcomeSampleServlet</servlet-name>
    <servlet-class>com.MusicSystem.Controller.WelcomeSampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeSampleServlet</servlet-name>
    <url-pattern>/WelcomeSampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MusicCatSignUpController</display-name>
    <servlet-name>MusicCatSignUpController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.MusicCatSignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicCatSignUpController</servlet-name>
    <url-pattern>/MusicCatSignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowUserSignUpController</display-name>
    <servlet-name>FollowUserSignUpController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.FollowUserSignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowUserSignUpController</servlet-name>
    <url-pattern>/FollowUserSignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowArtistSignUpController</display-name>
    <servlet-name>FollowArtistSignUpController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.FollowArtistSignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowArtistSignUpController</servlet-name>
    <url-pattern>/FollowArtistSignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeSettingsController</display-name>
    <servlet-name>ChangeSettingsController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ChangeSettingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeSettingsController</servlet-name>
    <url-pattern>/ChangeSettingsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserFollowingController</display-name>
    <servlet-name>ShowUserFollowingController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ShowUserFollowingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserFollowingController</servlet-name>
    <url-pattern>/ShowUserFollowingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnfollowUserController</display-name>
    <servlet-name>UnfollowUserController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.UnfollowUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnfollowUserController</servlet-name>
    <url-pattern>/UnfollowUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowArtistAndUserFollowController</display-name>
    <servlet-name>ShowArtistAndUserFollowController</servlet-name>
    <servlet-class>com.MusicSystem.Connection.ShowArtistAndUserFollowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowArtistAndUserFollowController</servlet-name>
    <url-pattern>/ShowArtistAndUserFollowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnfollowArtistUserController</display-name>
    <servlet-name>UnfollowArtistUserController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.UnfollowArtistUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnfollowArtistUserController</servlet-name>
    <url-pattern>/UnfollowArtistUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShwArtUsrFollwCntrl</display-name>
    <servlet-name>ShwArtUsrFollwCntrl</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ShwArtUsrFollwCntrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShwArtUsrFollwCntrl</servlet-name>
    <url-pattern>/ShwArtUsrFollwCntrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUpCmngCocrtCntrl</display-name>
    <servlet-name>ShowUpCmngCocrtCntrl</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ShowUpCmngCocrtCntrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUpCmngCocrtCntrl</servlet-name>
    <url-pattern>/ShowUpCmngCocrtCntrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendConcertController</display-name>
    <servlet-name>AttendConcertController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.AttendConcertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendConcertController</servlet-name>
    <url-pattern>/AttendConcertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowConcertsAttendedController</display-name>
    <servlet-name>ShowConcertsAttendedController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ShowConcertsAttendedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowConcertsAttendedController</servlet-name>
    <url-pattern>/ShowConcertsAttendedController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WritePostController</display-name>
    <servlet-name>WritePostController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.WritePostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WritePostController</servlet-name>
    <url-pattern>/WritePostController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignoutController</display-name>
    <servlet-name>SignoutController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.SignoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignoutController</servlet-name>
    <url-pattern>/SignoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageController</display-name>
    <servlet-name>HomePageController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.HomePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageController</servlet-name>
    <url-pattern>/HomePageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddConcertsController</display-name>
    <servlet-name>AddConcertsController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.AddConcertsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConcertsController</servlet-name>
    <url-pattern>/AddConcertsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowConcrtPrfmdController</display-name>
    <servlet-name>ShowConcrtPrfmdController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ShowConcrtPrfmdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowConcrtPrfmdController</servlet-name>
    <url-pattern>/ShowConcrtPrfmdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistHomePgContllr</display-name>
    <servlet-name>ArtistHomePgContllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ArtistHomePgContllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistHomePgContllr</servlet-name>
    <url-pattern>/ArtistHomePgContllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditConcertInfoContllr</display-name>
    <servlet-name>EditConcertInfoContllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.EditConcertInfoContllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditConcertInfoContllr</servlet-name>
    <url-pattern>/EditConcertInfoContllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCncrtCntllrList</display-name>
    <servlet-name>EditCncrtCntllrList</servlet-name>
    <servlet-class>com.MusicSystem.Controller.EditCncrtCntllrList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCncrtCntllrList</servlet-name>
    <url-pattern>/EditCncrtCntllrList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUserFollowArtistCntllr</display-name>
    <servlet-name>ShowUserFollowArtistCntllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ShowUserFollowArtistCntllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUserFollowArtistCntllr</servlet-name>
    <url-pattern>/ShowUserFollowArtistCntllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReccomController</display-name>
    <servlet-name>CreateReccomController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.CreateReccomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReccomController</servlet-name>
    <url-pattern>/CreateReccomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewYourRecommdCntllr</display-name>
    <servlet-name>ViewYourRecommdCntllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ViewYourRecommdCntllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewYourRecommdCntllr</servlet-name>
    <url-pattern>/ViewYourRecommdCntllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOtherRecommdCntllr</display-name>
    <servlet-name>ViewOtherRecommdCntllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ViewOtherRecommdCntllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOtherRecommdCntllr</servlet-name>
    <url-pattern>/ViewOtherRecommdCntllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCncrtAttendingCntllr</display-name>
    <servlet-name>ShowCncrtAttendingCntllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ShowCncrtAttendingCntllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCncrtAttendingCntllr</servlet-name>
    <url-pattern>/ShowCncrtAttendingCntllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendedArtistConstroller</display-name>
    <servlet-name>RecommendedArtistConstroller</servlet-name>
    <servlet-class>com.MusicSystem.Controller.RecommendedArtistConstroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendedArtistConstroller</servlet-name>
    <url-pattern>/RecommendedArtistConstroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendedUserConstroller</display-name>
    <servlet-name>RecommendedUserConstroller</servlet-name>
    <servlet-class>com.MusicSystem.Controller.RecommendedUserConstroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendedUserConstroller</servlet-name>
    <url-pattern>/RecommendedUserConstroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistFollowArtistCntllr</display-name>
    <servlet-name>ArtistFollowArtistCntllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ArtistFollowArtistCntllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistFollowArtistCntllr</servlet-name>
    <url-pattern>/ArtistFollowArtistCntllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistYouAreFollowCntllr</display-name>
    <servlet-name>ArtistYouAreFollowCntllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ArtistYouAreFollowCntllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistYouAreFollowCntllr</servlet-name>
    <url-pattern>/ArtistYouAreFollowCntllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistFollowYouCntllr</display-name>
    <servlet-name>ArtistFollowYouCntllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ArtistFollowYouCntllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistFollowYouCntllr</servlet-name>
    <url-pattern>/ArtistFollowYouCntllr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowMusicController</display-name>
    <servlet-name>FollowMusicController</servlet-name>
    <servlet-class>com.MusicSystem.Controller.FollowMusicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowMusicController</servlet-name>
    <url-pattern>/FollowMusicController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistSignUpCntllr</display-name>
    <servlet-name>ArtistSignUpCntllr</servlet-name>
    <servlet-class>com.MusicSystem.Controller.ArtistSignUpCntllr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistSignUpCntllr</servlet-name>
    <url-pattern>/ArtistSignUpCntllr</url-pattern>
  </servlet-mapping>
</web-app>